body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a; /* Fundo escuro */
    font-family: 'Gothic A1', sans-serif; /* Fonte de estilo gótico, se não disponível, use uma fallback gótica */
    margin: 0;
    padding: 0;
    color: #f8f8f2; /* Cor de texto claro */
}

.ticket {
    width: 300px;
    background-color: #222; /* Fundo do ticket */
    border: 2px solid #444; /* Borda escura */
    border-radius: 8px;
    overflow: hidden;
}

.ticket-header {
    background-color: #ff5555; /* Cor de destaque mais sombria */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444; /* Linha de separação escura */
}

.ticket-body {
    padding: 20px;
    text-align: center;
    border-bottom: 2px dashed #444; /* Dashed line mais escuro */
}

.ticket-footer {
    padding: 20px;
    text-align: center;
    color: #f8f8f2; /* Mantém o texto claro */
}

.ticket-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal; /* Mantém o texto não muito pesado */
}

.ticket-body p, .ticket-footer p {
    margin: 0;
    font-size: 16px;
    color: #ccc; /* Texto claro para contraste */
}
